.imageConfigRoot {
  display: grid;
  grid-template-columns: 2fr 1fr;

  height: 100%;
}

.imageConfigWall {
  position: relative;
  background-image: url("./room.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.canvasImage {
  margin: auto;

  position: absolute;
  top: 50px;
  right: 50px;
}
