:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141314;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #00695c;
  --primary-color-dark: #004d40;
  --primary-color-light: #00897b;
  --surface-color: #1c1b1d;

  --accent-color: #004d40;

  --text-muted: #64748b;
  --text-strong: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  padding-bottom: 3rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.2;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
